# Bytecode and cache
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg

# Virtual environments
venv/
.env/
env/
ENV/
.venv/
myenv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# vector database
chroma/